*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
}
#winden-assistant-iframe{
    /* width: 100%;
    height: 100% !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000; */
}